body{
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.images {
    float: right;
    margin: 5%;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the element */
    width: 20%;/* Optional: Adds some space around the image */
}


.about{
    text-align: center; 
}

nav {
        background-color: #333;
        padding: 1rem;
    }

    
    nav ul {
    
       list-style-type: none;
    
        padding: 0;
    
       margin: 0;
        display: flex;
        justify-content: space-around;
    }
    

    
    nav a {
    
       color: white;
    
        text-decoration: none;
    
        font-size: 1rem;
    
    }
