body{
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.images{
    width: 15%;
    position: absolute;
    border-radius: 40px;
}
.header{
    text-align: center;
}


nav {
        background-color: #333;
        padding: 1rem;
    }

    
    nav ul {
    
       list-style-type: none;
    
        padding: 0;
    
       margin: 0;
        display: flex;
        justify-content: space-around;
    }
    

    
    nav a {
    
       color: white;
    
        text-decoration: none;
    
        font-size: 1rem;
    
    }
