*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: linear-gradient(135deg, #0bdf27, #51e4dc);
    }

p{
    color: rgb(0, 0, 0);
}
.navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    top: 0;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar-links ul {
    list-style-type: none;
    gap: 20px;
    display: flex;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

    
.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 40px;
}
    

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
     
/* Logo Icon Styling */
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



 /* About section spacing */


.about-image {
    margin-top: 30px;
}


/* Spacing between sections */
#about, #resume, #contact {
    padding-top: 160px;
    margin-top: -60px;
}

       
#about h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #000000;
    font-size: 2rem;
    }
    
    
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000; /* Ensure the text is readable */
    }
    
    
.about-image {
    flex: 1;
    text-align: center;
    }
    
    
.about-image img {
    border-radius: 50%;
    width: 250px; /* Adjust height for oval shape */
    height: 250px; /* Ensure image fills the container without distortion */
    object-fit: contain; /* Create an oval shape */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better effect */
    }
