* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #18ff03, #4ee4ff);

}
.navbar-links {
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
   
}

.navbar-links ul {
    list-style-type: none;
    gap: 20px;
    display: flex;
}

.navbar-links ul li a {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    
}

.box {
    flex: 1 1 calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.box h3 {
    margin-top: 0;
    color: #444;
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .box {
        flex: 1 1 100%;
    }
}