body{
    background-color: rgba(207, 207, 207, 0.805);
}
.navbar{
    text-align: right;
}
p{
    text-align: justify;
}

nav {

        background-color: #333;
    
        padding: 1rem;
    
    }

    
    nav ul {
    
       list-style-type: none;
    
        padding: 0;
    
       margin: 0;
        display: flex;
        justify-content: space-around;
    }
    

    
    nav a {
    
       color: white;
    
        text-decoration: none;
    
        font-size: 1rem;
    
    }