body{
    background-color: rgba(207, 207, 207, 0.805);
}

.header{
 align-items: center;
 padding-top: 4%;
 padding-left: 10%;
}

.images {
    display: flex;
    float: right;
    margin: 5%;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the element */
    width: 20%;/* Optional: Adds some space around the image */
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px; /* Ensures there is space for the fixed nav */
    width: 500px;
    background-color: #fff;
    padding: 25px 30px;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title{
    padding: auto;
    margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title h2 ul{
    letter-spacing: 0.3px ;
}
nav {
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
}

p{
    text-align: center;
}

    footer {
        display: flex;
        max-width: max-content;
        max-width: 1800px;
        justify-content: center;
        padding: 5px;
        background-color: #030303;
        color: #fff;
      }