body{
    background-color: rgba(207, 207, 207, 0.805);
}

nav ul{
    list-style-type: none;
    background-color: hsl(0, 4%, 37%);
    height: 80px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

nav ul li{
    display: inline block;
    line-height: 80px;
    margin:0 5px ;
}
nav a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}